* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    height: 10vh;
    justify-content: space-around;
    align-items: center;


    nav {
        height: 10vh;
        width: 40%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

.produtosDisponiveis {

    display: flex;
    justify-content: space-around;
    height: 80vh;
    align-items: center;

    article {
        border: solid #16a34a;
        border-radius: 30px 30px 30px 30px;
        width: 18%;
        height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        img {
            width: 100%;
            border-radius: 30px 30px;
        }

        button {
            margin-bottom: 2rem;
            width: 60%;
            padding: 1rem;
            border-radius: 30px;
            border: none;
            background-color: #16a34a;
            color: #FFFFFF;
        }

        p {
            width: 90%;
        }
    }
}