* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    height: 10vh;
    justify-content: space-around;
    align-items: center;


    nav {
        height: 10vh;
        width: 40%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}